@font-face {
    font-family: 'Ping';
    src: url('PingARLT-Bold.woff2') format('woff2'),
        url('PingARLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ping';
    src: url('PingARLT-Regular.woff2') format('woff2'),
        url('PingARLT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ping';
    src: url('PingARLT-Medium.woff2') format('woff2'),
        url('PingARLT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

