@font-face {
    font-family: "ping";
    src: url('../fonts/ping/PingAR+LT-Medium.woff2');
    font-weight: 700;
}

@font-face {
    font-family: "ping";
    src: url('../fonts/ping/PingAR+LT-Regular.woff2');
    font-weight: 500;
}

@font-face {
    font-family: "ping";
    src: url('../fonts/ping/PingAR+LT-Bold.woff2');
    font-weight: 900;
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "ping" , sans-serif ;
    scroll-behavior: smooth;

    &::selection{
        background-color: var(--primary-color);
        color: #fff;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: #ccc;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--secondary-color);
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
    }
}

.overflowNone{
    overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
    outline-width: 0px !important;
    outline-color: transparent !important;
    box-shadow: 0 0 0 0 rgba($color: #000000, $alpha: 0);
}

a {
    text-decoration: none !important;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

button {
    outline: none !important;
    border: 0px !important;
}

.swiper-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: rgba($color: #031626, $alpha: 0.50);
      border-radius: 50%;
      transition: all .3s linear;

      &.swiper-pagination-bullet-active {
        opacity: 1 !important;
        transform: scale(1.2);
        background-color: var(--secondary-color);
      }
    }
}


.swiper-button-next, .swiper-button-prev {
    top: unset;
    transform: translateY(0px);
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    bottom: 0;
    border-radius: 50%;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scale(0);
        border-radius: 50%;
        top: 0;
        left: 0;
        background-color: var(--primary-color);
        transition: all .3s linear;
    }

    &::after {
        position: absolute;
        width: 24px;
        height: 24px;
        top: calc(50% - 12px);
        left: calc(50% - 12px);
        z-index: 9;
        background: url('../images/icons/arrow.svg') center / contain no-repeat;
        color: transparent;
        filter: var(--primary-filter);
    }

    &:hover {
        border-color: var(--primary-color);

        &::before {
            transform: scale(1);
        }

        &::after {
            filter: var(--light-filter);
        }
    }
}

.swiper-button-prev {
    left: calc(50% - 55px) !important;
    right: unset !important;
}

.swiper-button-next {
    left: unset !important;
    right: calc(50% - 55px) !important;

    &::after {
        transform: scaleX(-1);
    }
}
.swiper-button-next, .swiper-button-prev {
    top: unset;
    transform: translateY(0px);
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    bottom: 0;
    border-radius: 50%;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scale(1);
        border-radius: 50%;
        top: 0;
        left: 0;
        background-color: var(--primary-color);
        transition: all .3s linear;
    }

    &::after {
        position: absolute;
        width: 24px;
        height: 24px;
        top: calc(50% - 12px);
        left: calc(50% - 12px);
        z-index: 9;
        background: url('../images/icons/arrow.svg') center / contain no-repeat;
        color: transparent;
        filter: var(--light-filter);
    }

    &:hover {
        border-color: var(--primary-color);

        &::before {
            transform: scale(0);
        }

        &::after {
            filter: var(--primary-filter);
        }
    }
}

.swiper-button-prev {
    left: calc(50% - 55px) !important;
    right: unset !important;
}

.swiper-button-next {
    left: unset !important;
    right: calc(50% - 55px) !important;

    &::after {
        transform: scaleX(-1);
    }
}
