@import 'global';
@import 'animations';
:root {
  --primary-color: #031626;
  --secondary-color: #1D71B8;
  --dark-color: #000;
  --light-color: #fff;
  --gray-color: #475561;
  --yellow-color: #EAA05F;
  --semi-gray: #C0C5C9;
  --danger-color: #e92e2e;

  --primary-filter:invert(7%) sepia(18%) saturate(4148%) hue-rotate(179deg) brightness(91%) contrast(100%);
  --secondary-filter: invert(31%) sepia(25%) saturate(5048%) hue-rotate(190deg) brightness(94%) contrast(77%);
  --light-filter: invert(92%) sepia(100%) saturate(23%) hue-rotate(251deg) brightness(108%) contrast(100%);
  --gray-filter: invert(58%) sepia(0%) saturate(3400%) hue-rotate(13deg) brightness(87%) contrast(97%);
}

@mixin ltr {
  html[dir="ltr"] & {
    @content;
  }
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

@mixin flexData {
  display: flex;
  align-content: center;
  align-items: center;
}

@mixin flexColumnCenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.general-section {
  width: 100%;
  padding: 80px 0px;
  position: relative;
  z-index: 9;

  @media (max-width: 992px) {
    padding: 40px 0px;
  }
}

.service-box {
  width: 100%;
  height: 480px;
  position: relative;
  z-index: 9;
  border-radius: 16px;
  overflow: hidden;
  transition: all .3s linear;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #1F242E);
    top: 0;
    left: 0;
    z-index: -1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    transition: all .3s linear;
  }

  .contain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    transition: all .3s linear;
    transform: translateY(90px);

    h2 {
      font-size: 24px;
      font-weight: 900;
      color: var(--light-color);
      margin: 0px;
    }
    
    p {
      color: var(--light-color);
      font-size: 16px;
      font-weight: 500;
      margin: 12px 0px 0px;
    }

    .custom-btn {
      width: 100%;
      transition: all .3s linear;
      margin: 22px 0px 0px;
    }
  }

  &:hover {
    transform: translateY(-10px);

    img {
      transform: scale(1.2);
    }

    .contain {
      text-align: center;
      transform: translateY(0px);
    }
  }
}

.heading {
  width: 100%;
  margin-bottom: 60px;
  text-align: center;

  h1 {
    font-size: 40px;
    font-weight: 900;
    color: var(--primary-color);
    margin-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 25px;
    }
  }

  p {
    color: var(--gray-color);
    font-size: 18px;
    font-weight: 500;
    margin: 0px;

    @media (min-width: 992px) {
      width: 30%;
      margin: auto;
    }
  }
}

.custom-btn {
  width: 150px;
  height: 50px;
  position: relative;
  z-index: 9;
  @include flexCenter();
  border-radius: 100px;
  overflow: hidden;

  &.secondary-btn {
    background-color: var(--secondary-color);
  }

  &.semi-primary {
    background-color: #152D4C;
  }

  &.primay-btn {
    background-color: var(--primary-color);
  }

  &::after, &::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('../images/logo/white_team.svg') center/ contain no-repeat;
    top: calc(50% - 12px);
    z-index: -1;
    animation: spin 2s linear infinite;
    transition: all .3s linear;
  }

  &::after {
    left: -100%;
  }

  &::before {
    right: -100%;
  }

  span {
    color: var(--light-color);
    font-size: 14px;
    font-weight: 700;
  }

  &:hover {
    &::after {
      left: 10px;
    }

    &::before {
      right: 10px;
    }

    span {
      animation: storm .4s linear both;
    }
  }
}

.navbar {
  width: 100%;
  padding: 24px 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all .3s linear;

  &.scrolled {
    padding: 12px 0px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px rgba($color: #fff, $alpha: 0.10);

    .brand-name img {
      height: 50px;
    }

    @media (max-width: 992px) {
      .nav-contain {
        top: 77px !important;
      }
    }
  }

  .contain {
    width: 100%;
    @include flexBetween();

    .hamburger{
      display: none;

      @media (max-width: 992px) {
        display: block;
      }

      .line{
        width: 30px;
        height: 3px;
        background: var(--light-color); 
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
      }

      &.active{
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);

        .line{
          &:nth-child(2){
            width: 0px;
          }

          &:nth-child(1) ,
          &:nth-child(3){
            transition-delay: 0.3s;
          }

          &:nth-child(1){
            transform: translateY(6.5px);
          }
          
          &:nth-child(3){
            transform: translateY(-15px) rotate(90deg);
          }                             
        }
      }
    }

    .brand-name img {
      width: 100px;
      height: 60px;
      object-fit: contain;
      object-position: center;
      transition: all .3s linear;

      @media (max-width: 1199px) {
        width: 80px;
      }

      @media (max-width: 992px) {
        width: 100px;
      }
    }

    .nav-contain {
      width: calc(100% - 212px);
      @include flexBetween();

      @media (max-width: 1399px) {
        width: calc(100% - 110px) !important;
      }

      @media (max-width: 1199px) {
        width: calc(100% - 80px);
      }

      @media (max-width: 992px) {
        position: absolute;
        width: 100% !important;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        padding: 20px 15px;
        top: 110px;
        right: -100%;
        background-color: var(--primary-color);
        gap: 15px;
        transition: all .3s linear;

        @include ltr {
          left: -100%;
          right: unset;
        }

        &.active-nav {
          right: 0px;

          @include ltr {
            left: 0px;
            right: unset;
          }
        }
      }
    }

    .navbar-nav {
      flex-direction: row;
      gap: 0px;

      @media (max-width: 992px) {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
      }

      .nav-item {
        padding: 0px 16px;
        border-inline-end: 1px solid #475561;

        @media (max-width: 1199px) {
          padding: 0px 10px;
        }

        @media (max-width: 992px) {
          padding: 16px 0px !important;
          border-inline-end: 0px;
          border-bottom: 1px solid #475561;
        }

        &:last-child {
          border-inline-end: 0px;
        }

        .nav-link {
          font-size: 14px;
          font-weight: 700;
          color: var(--semi-gray);
          position: relative;
          z-index: 9;
          padding: 0px;

          @media (max-width: 1199px) {
            font-size: 12px;
          }

          &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: url('../images/logo/team.svg') center / contain no-repeat;
            bottom: -20px;
            left: calc(50% - 10px);
            animation: spin 2s linear infinite;
            opacity: 0;

            @media (max-width: 992px) {
              display: none;
            }
          }

          &:hover, &.active {
            color: var(--yellow-color);

            &::after {
              opacity: 1;
            }
          }
        }
      }
    }

    .button-contain {
      @include flexData();
      gap: 24px;

      .lang {
        @include flexData();
        gap: 10px;

        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
        }

        span {
          color: var(--semi-gray);
          font-size: 15px;
          font-weight: 700;
        }

        &:hover {
          img {
            animation: tada .3s linear both;
          }

          span {
            color: var(--light-color);
          }
        }
      }
    }
  }
}

header {
  width: 100%;
  padding: 270px 0px 185px;
  background-color: var(--primary-color);
  position: relative;
  z-index: 9;
  overflow: hidden;

  @media (max-width: 960px) {
    padding: 150px 0px 70px;  
  }
  
  .contain {
    width: 100%;
    
    .title {
      font-size: 20px;
      font-weight: 900;
      color: var(--yellow-color);
      margin: 0px;
      padding-inline-start: 35px;
      position: relative;
      z-index: 9;

      &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background: url('../images/logo/team.svg') center / contain no-repeat;
        z-index: -1;
        top: calc(50% - 12px);
        right: 0px;
        animation: spin 1s linear infinite;

        @include ltr {
          left: 0px;
          right: unset;
        }
      }
    }

    h1 {
      font-size: 20px;
      font-weight: 900;
      color: var(--light-color);
      margin: 20px 0px;
      line-height: 40px;

      @media (min-width: 960px) {
        font-size: 50px;
        line-height: 72px;
      }
    }

    p {
      color: var(--semi-gray);
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 40px;
    }

    .button-contain {
      @include flexData();
      gap: 16px;
    }
  }

  .intro-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: translateY 1s linear infinite alternate;

    @include ltr {
      animation: translateYR 1s linear infinite alternate !important;
    }
  }
}

.sub-header {
  width: 100%;
  padding: 160px 0px 80px;
  position: relative;
  z-index: 9;
  overflow: hidden;
  background-color: var(--primary-color);

  &.large-sub-header {
    padding: 185px 0px 140px;

    @media (max-width: 992px) {
      padding: 140px 0px 50px;
    }
  }

  &.large-header {
    padding: 160px 0px 200px;

    @media (max-width: 960px) {
      padding: 160px 0px 150px;
    }
  }

  @media (max-width: 992px) {
    padding: 160px 0px 40px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: url('../images/about/circle.svg') center / contain no-repeat;
    top: -100px;
    left: -50px;
    animation: spin 4s linear infinite;
    z-index: -1;

    @media (max-width: 992px) {
      width: 150px;
      height: 150px;
      top: -50px;
    }

    @include ltr {
      right: -50px;
      left: unset;
    }
  }

  &.about-us {
    h1 {
      color: var(--light-color) !important;
    }
  }

  .header-contain {
    width: 50%;
    text-align: center;
    margin: 0px auto;

    @media (max-width: 992px) {
      width: 100%;
    }

    h1 {
      font-size: 40px;
      font-weight: 900;
      color: var(--light-color);
      margin-bottom: 10px;
    }

    p {
      color: var(--gray-color);
      font-size: 15px;
      font-weight: 500;
      margin: 0px;
    }

    .custom-btn {
      margin: 20px auto 0px;
    }

    .contact-shape {
      width: 100%;
      margin-top: 50px;

      @media (max-width: 992px) {
        margin-top: 30px;
      }

      .contact-data {
        width: 100%;
        @include flexBetween();
        background-color: transparent;
        border: 1px solid #273D59;
        border-radius: 16px;
        transition: all .3s linear;
        margin-bottom: 24px;
        padding: 18px 24px;
  
        @media (max-width: 992px) {
          padding: 20px 10px;
        }
  
        &:last-child {
          margin-bottom: 0px;
        }
  
        .data {
          width: calc(100% - 24px);
          text-align: start;
  
          p {
            font-size: 15px;
            font-weight: 900;
            color: var(--light-color);
            margin: 5px 0px 0px; 
          }
  
          span {
            color: var(--gray-color);
            font-size: 15px;
            font-weight: 500;
          }
        }
  
        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
        }
  
        &:hover {
          transform: translateY(-10px);
  
          p {
            color: var(--secondary-color);
          }
  
          img {
            animation: tada .3s linear both;
          }
        }
      }
    }
  }
}

.about-us {

  &.why-header {
    width: 100%;
    padding-top: 0px;
    margin-top: -150px;
    z-index: 9;

    @media (max-width: 992px) {
      margin-top: -100px;
    }

    .why-header-img {
      width: 80%;
      height: 540px;
      border-radius: 16px;
      overflow: hidden;
      position: relative;
      z-index: 9;
      margin: 0px auto 50px;

      @media (max-width: 960px) {
        width: 100%;
        height: 340px;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #011B3C, transparent);
        top: 0;
        left: 0;
        z-index: 1;
        opacity: .8;
      }

      .intro-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        animation: pulse 10s linear infinite alternate;
      }

      .video-play {
        width: 75px;
        height: 75px;
        position: absolute;
        top: calc(50% - 37.5px);
        left: calc(50% - 37.5px);
        z-index: 99;
        border-radius: 50%;
        animation: shadow 2s linear infinite alternate;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &.about-pattern {
    &::after {
      content: '';
      position: absolute;
      width: 500px;
      height: 500px;
      background: url('../images/about/circle.svg') center / contain no-repeat;
      top: -100px;
      right: -50px;
      animation: spin 4s linear infinite;
      z-index: -1;
  
      @media (max-width: 992px) {
        width: 150px;
        height: 150px;
        top: -50px;
      }
  
      @include ltr {
        left: -50px;
        right: unset;
      }
    }
  }

  .image-contain {
    width: 100%;
    height: 500px;
    border-radius: 16px;
    overflow: hidden;
    animation: translateY 1s linear infinite alternate;
    position: relative;
    z-index: 9;

    @media (max-width: 992px) {
      height: 250px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #1D71B8, transparent);
      top: 0;
      left: 0;
      z-index: 9;
      opacity: .5;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .contain {
    width: 100%;
    height: 100%;
    @include flexColumnCenter();

    &.padding-data {
      @media (min-width: 992px) {
        padding-inline-start: 50px;
      }
    }

    h1 {
      font-size: 20px;
      font-weight: 900;
      color: var(--primary-color);
      margin: 0px;
      line-height: 30px;

      @media (min-width: 992px) {
        font-size: 50px;
        line-height: 70px;
      }
    }

    p {
      color: var(--gray-color);
      font-size: 15px;
      font-weight: 500;
      margin: 20px 0px 40px;
    }

    .contact-icon {
      @include flexBetween();
      align-items: center;
      align-content: center;

      .icon-contain {
        width: 100px;
        height: 100px;
        background-color: var(--secondary-color);
        @include flexColumnCenter();
        gap: 5px;
        position: relative;
        z-index: 9;
        border-radius: 50%;
        align-items: center;
        align-content: center;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: url('../images/about/circle.svg') center / contain no-repeat;
          top: -20px;
          right: -20px;
          z-index: -2;
          animation: spin 2s linear infinite;
          opacity: .5;

          @include ltr {
            left: -50px;
            right: unset;
          }
        }

        span {
          color: var(--light-color);

          &.number {
            font-weight: 900;
            font-size: 20px;
          }

          &.word {
            font-weight: 500;
            font-size: 15px;
          }
        }
      }

      .data {
        width: calc(100% - 124px);

        h2 {
          color: #4D5E6A;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        p {
          color: var(--secondary-color);
          font-size: 15px;
          font-weight: 700;
          margin: 0px;
        }
      }
    }
  }

  .message-contain {
    width: 100%;
    margin-top: 50px;

    @media (max-width: 992px) {
      margin-top: 30px;
    }
  }

  .box {
    width: 100%;
    height: 100%;
    padding: 32px;
    border: 1px solid #EDF0F2;
    border-radius: 16px;
    transition: all .3s linear;
    @include flexColumnCenter();
    gap: 24px;

    @media (max-width: 992px) {
      padding: 20px 15px;
      gap: 15px;
    }

    img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }

    h2 {
      font-size: 24px;
      font-weight: 900;
      color: var(--primary-color);
      margin-bottom: 12px;
    }

    p {
      color: var(--gray-color);
      font-size: 15px;
      font-weight: 500;
      margin: 0px;
      text-align: justify;
    }

    &.flex-data {
      @media (min-width: 992px) {
        @include flexBetween();
        flex-direction: row;

        .data {
          width: calc(100% - 80px);
        }
      }
    }

    &:hover {
      transform: translateY(-10px);

      h2 {
        color: var(--secondary-color);
      }

      img {
        animation: tada .4s linear both;
      }
    }
  }
}

.single-services {
  width: 100%;
  padding-top: 0px;
  margin-top: -150px;
  z-index: 9;

  @media (max-width: 992px) {
    margin-top: -100px;
  }

  .image-contain {
    width: 100%;
    height: 540px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    z-index: 9;
    margin: 0px auto 50px;

    @media (max-width: 960px) {
      height: 340px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #011B3C, transparent);
      top: 0;
      left: 0;
      z-index: 1;
      opacity: .8;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      animation: pulse 10s linear infinite alternate;
    }
  }

  h1 {
    font-size: 32px;
    font-weight: 900;
    color: var(--dark-color);
    margin: 0px;
  }

  .contain {
    width: 100%;
    padding: 32px;
    background-color: var(--light-color);
    border: 1px solid #EDF0F2;
    border-radius: 16px;
    margin: 26px 0px;

    @media (max-width: 992px) {
      padding: 20px 15px;
    }

    p {
      color: var(--gray-color);
      font-size: 15px;
      font-weight: 500;
      margin: 0px;
    }

    .list {
      @include flexColumnCenter();
      gap: 10px;

      li {
        font-size: 15px;
        font-weight: 500;
        margin: 0px;
        color: var(--gray-color);
        position: relative;
        z-index: 9;
        padding-inline-start: 16px;

        &::after {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: var(--primary-color);
          border-radius: 50%;
          top: calc(50% - 5px);
          right: 0px;
          z-index: -1;

          @media (max-width: 992px) {
            top: 5px;
          }

          @include ltr {
            left: 0px;
            right: unset;
          }
        }
      }
    }
  }
}

.why {
  background-color: var(--primary-color);

  .contain {
    width: 100%;

    h1 {
      font-size: 25px;
      font-weight: 900;
      padding-inline-start: 40px;
      position: relative;
      z-index: 9;
      color: var(--light-color);
      margin: 0px;

      @media (min-width: 992px) {
        font-size: 40px;
      }

      &::after {
        content: '';
        position: absolute;
        width: 80px;
        height: 80px;
        background: url('../images/about/circle.svg') center / contain no-repeat;
        top: calc(50% - 40px);
        right: 0;
        z-index: -1;
        animation: spin 3s linear infinite;

        @include ltr {
          left: 0px;
          right: unset;
        }
      }
    }

    p {
      color: var(--gray-color);
      font-size: 15px;
      font-weight: 500;
      margin: 30px 0px 50px;
      
      @media (max-width: 992px) {
        margin-bottom: 30px;
      }
    }

    .list {
      @include flexColumnCenter();
      gap: 24px;

      li {
        padding-inline-start: 80px;
        position: relative;
        z-index: 9;
        font-size: 18px;
        font-weight: 900;
        color: var(--light-color);

        &::after {
          content: '';
          position: absolute;
          width: 60px;
          height: 60px;
          background: url('../images/icons/check_icon.svg') center / contain no-repeat;
          top: calc(50% - 30px);
          right: 0px;
          z-index: -1;
        }
      }
    }
  }

  .box-contain {
    &:nth-child(2) {
      @media (min-width: 992px) {
        padding-top: 40px;
      }
    }

    &:nth-child(3) {
      @media (min-width: 992px) {
        margin-top: -60px;
      }
    }

    @media (max-width: 992px) {
      padding: 0px 10px;
    }
  }

  .box {
    width: 100%;
    padding: 32px;
    background-color: transparent;
    border: 1px solid #273D59;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: all .3s linear;
    gap: 20px;

    @media (max-width: 992px) {
      padding: 20px 5px;
      height: 100%;
      gap: 10px;
    }

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
      object-position: center;
    }

    h2 {
      font-size: 24px;
      font-weight: 900;
      color: var(--light-color);
      margin: 0px;

      @media (max-width: 992px) {
        font-size: 18px;
      }
    }

    p {
      color: var(--gray-color);
      font-size: 15px;
      font-weight: 500;
      margin: 0px;
    }

    &:hover {
      transform: translateY(-10px);

      h2 {
        color: var(--secondary-color);
      }
    }
  }
}

.services {
  .heading {
    margin-bottom: 40px;

    @media (max-width: 992px) {
      margin-bottom: 30px;
    }
  }

  .swiper-wrapper {
    padding: 20px 0px 90px;
  }
}

.all-sections {
  background-color: #F3F5F6;
  overflow: hidden;

  .all-section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: pulse 10s linear infinite alternate;

    @include ltr {
      animation: pulseR 10s linear infinite alternate;
    }
  }

  .box {
    width: 100%;
    padding: 12px;
    border-radius: 100px;
    position: relative;
    z-index: 9;
    @include flexBetween();
    transition: all .3s linear;

    @media (max-width: 992px) {
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-start;
      text-align: center;
      gap: 10px;
    }
    
    .box-icon {
      width: 72px;
      height: 72px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }

    p {
      color: var(--primary-color);
      font-size: 20px;
      font-weight: 700;
      margin: 0px;
      width: calc(100% - 96px);

      @media (max-width: 992px) {
        width: 100%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--light-color);
      border: 1px solid #EDF0F2;
      border-radius: 100px;
      transition: all .3s linear;
      top: 0;
      right: 0;
      z-index: -1;

      @media (max-width: 992px) {
        border-radius: 20px;
      }

      @include ltr {
        left: 0px;
        right: unset;
      }
    }

    &:hover {
      @media (max-width: 992px) {
        transform: translateY(-10px);
      }

      img {
        animation: tada .3s linear both;
      }

      @media (min-width: 992px) {
        &::after {
          width: 96px;
        }
      }
      
      p {
        color: var(--secondary-color);
        animation: storm .4s linear both;
      }
    }
  }
}

.modal-dialog {
  width: 100%;
  border: 0px;
  padding: 0px;
  border-radius: 0px;
  margin: 0px auto !important;

  .modal-content {
    width: 100%;
    border: 0px;
    padding: 0px;
    border-radius: 40px;

    @media (max-width: 992px) {
      border-radius: 15px;
    }

    .modal-body {
      width: 100%;
      border: 0px;
      padding: 0px;
      border-radius: 0px;

      .form-contain {
        padding: 60px 40px;

        .form-control {
          background-color: #FBFBFB;
        }

        .text-area {
          height: 140px;
        }

        .custom-btn {
          width: 100% !important;
        }

        h1 {
          font-size: 20px;
          font-weight: 900;
          color: var(--dark-color);
          margin: 0px;
          text-align: center;
        }


        p {
          font-size: 15px;
          font-weight: 500;
          color: var(--gray-color);
          margin: 20px 0px;
          text-align: center;
        }
      }

      .contain {
        width: 100%;
        padding: 70px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        position: relative;
        z-index: 9;

        &::after, &::before {
          content: '';
          position: absolute;
          width: 100px;
          height: 100px;
          background: url('../images/logo/team.svg') center / contain no-repeat;
          z-index: -1;
          animation: spin 2s linear infinite;
          opacity: .5;

          @media (max-width: 992px) {
            width: 50px;
            height: 50px;
          }
        } 

        &::before {
          top: 0;
          right: 0px;

          @include ltr {
            left: 0px;
            right: unset;
          }
        }

        &::after {
          bottom: 0;
          left: 0;

          @include ltr {
            left: unset;
            right: 0px;
          }
        }

        @media (max-width: 992px) {
          padding: 30px 20px;
        }

        img {
          width: 85px;
          height: 85px;
          object-fit: contain;
          margin-bottom: 20px;
        }

        h1 {
          font-size: 20px;
          font-weight: 900;
          color: var(--dark-color);
          margin: 0px;
        }


        p {
          font-size: 15px;
          font-weight: 500;
          color: var(--gray-color);
          margin: 20px 0px;
        }
      }
    }
  }
}

.contact-us {

  &.margin-data {
    margin-top: -150px;
    padding-top: 0px;
  }

  .contact-contain {
    width: 100%;
    padding: 80px 75px;
    background-color: #011B3C;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    z-index: 9;

    @media (max-width: 992px) {
      padding: 50px 15px 30px;
      border-radius: 25px;
    }

    .contact-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center right;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      animation: pulse 10s linear infinite alternate;
      opacity: .5;

      @include ltr {
        animation: pulseR 10s linear infinite alternate;
      }
    }

    .contain {
      width: 100%;
      height: 100%;
      @include flexColumnCenter();

      @media (min-width: 992px) {
        padding-inline-end: 160px;
      }

      h1 {
        font-size: 40px;
        font-weight: 900;
        color: var(--light-color);
        margin-bottom: 15px;

        @media (max-width: 992px) {
          font-size: 25px;
        }
      }

      p {
        color: var(--light-color);
        opacity: .75;
        font-size: 15px;
        font-weight: 500;
        margin: 0px;
      }
    }

    .custom-btn {
      width: 100%;
    }
  }
} 

.form-data {
  width: 100%;
  margin-bottom: 18px;
  position: relative;
  z-index: 9;

  &.phone-number-input {
    z-index: 99 !important;

    &.new-phone-number {
      z-index: 991 !important;
    }
  }

  .form-group {
    width: 100%;
    height: 55px;
    position: relative;
    z-index: 9;
    margin: 0px;

    &.dropdown-item {
      width: 100% !important;
      background: #fff !important;
      border: 1px solid rgba(91, 157, 21, 0.08) !important;

      .form-control {
        width: 100% !important;
      }

      &:active {
        background: transparent !important;
      }
    }

    &.text-area {
      height: 100px;

      .icon {
        top: 15px;
      }

      .form-control {
        padding-top: 15px;
        border-radius: 20px !important;
      }
    }

    .form-control {
      width: 100%;
      height: 100%;
      border-radius: 50px;
      background-color: #152D4C;
      padding-inline-start: 20px;
      font-size: 16px;
      resize: none;
      border: 1px solid transparent;
      font-weight: 500;
      color: var(--light-color);

      &::placeholder {
        font-size: 16px;
        font-weight: 500;
        color: var(--light-color) !important;
      }
    }

    &.select-data {
      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background: url('../images/contact/arrow.svg') center / contain no-repeat;
        top: calc(50% - 7.5px);
        left: 15px;
        z-index: 9;
        pointer-events: none;
        filter: var(--light-filter);

        @include ltr {
          left: unset;
          right: 15px;
        }
      }

      .form-control {
        color: var(--light-color);
      }
    }

    &:hover {
      img {
        animation: tada .3s linear both;
      }

      .form-control {
        border-color: var(--yellow-color);
      }
    }
  }

  .error {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 10px !important;
    position: relative;
    z-index: 9;
    padding-inline-start: 40px;
    color: var(--danger-color);
    font-size: 16px;
    font-weight: 500;

    &::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background: url('../images/icons/error.svg') center / contain no-repeat;
      top: calc(50% - 12px);
      right: 0;
      z-index: -1;

      @include ltr {
        left: 0;
        right: unset;
      }
    }
  }
}

.partners {
  padding-top: 0px;

  .heading {
    margin-bottom: 40px;

    @media (max-width: 992px) {
      margin-bottom: 30px;
    }
  }
  .partner-box {
    width: 100%;
    height: 100px;
    border: 1px solid #EDF0F2;
    border-radius: 100px;
    overflow: hidden;
    transition: all .3s linear;
    @include flexCenter();

    @media (max-width: 992px) {
      border-radius: 10px;
      height: 60px;
    }

    img {
      width: 85%;
      height: 85%;
      object-fit: contain;
      object-position: center;
    }

    &:hover {
      transform: translateY(-10px);
      border-color: var(--secondary-color);
    }
  }

  .swiper-wrapper {
    padding: 15px 0px 50px;
  }
}

.join-us {
  width: 100%;
  position: relative;
  z-index: 91;
  margin-bottom: -130px;

  .contain {
    width: 100%;
    padding: 111px 0px;
    position: relative;
    z-index: 9;
    border-radius: 40px;
    overflow: hidden;
    text-align: center;
    background-color: var(--secondary-color);

    @media (max-width: 992px) {
      padding: 40px 20px;
      border-radius: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: url('../images/icons/join_us.svg') top left / cover no-repeat;
      top: 0;
      left: 0;
      z-index: -1;
      animation: pulse 10s linear infinite alternate;

      @include ltr {
        animation: pulseR 10s linear infinite alternate;
      }
    }

    h1 {
      font-size: 50px;
      font-weight: 900;
      color: var(--light-color);
      margin: 20px 0px;

      @media (max-width: 992px) {
        font-size: 30px;
      }
    }

    p {
      color: var(--light-color);
      margin: 0px;
      font-weight: 900;
      font-size: 20px;

      @media (max-width: 992px) {
        font-size: 15px;
      }
    }

    .custom-btn {
      margin: 0px auto;
    }
  }
}

footer {
  width: 100%;
  padding: 240px 0px 0px;
  background-color: var(--primary-color);
  position: relative;
  z-index: 9;

  &.small-footer {
    padding-top: 100px;

    @media (max-width: 992px) {
      padding-top: 60px;
    }
  }

  @media (max-width: 992px) {
    padding-top: 180px;
  }

  .contain {
    width: 100%;

    &.padding-data {
      @media (min-width: 992px) {
        padding-inline-start: 100px;
      }
    }

    .brand-name img {
      width: 100px;
      height: 60px;
      object-fit: contain;
    }

    p {
      color: rgba($color: #fff, $alpha: 0.75);
      font-size: 15px;
      font-weight: 500;
      margin: 20px 0px;

      @media (min-width: 992px) {
        width: 90%;
        margin: 40px 0px;
      }
    }

    .socail {
      @include flexData();
      gap: 10px;

      li a {
        width: 50px;
        height: 50px;
        border: 1px solid #273D59;
        border-radius: 50%;
        @include flexCenter();
        position: relative;
        z-index: 9;
        overflow: hidden;

        img  {
          width: 24px;
          height: 24px;
          object-fit: contain;
        }

        &:hover {
          border-color: var(--light-color);

          img {
            animation: fadeInLeft .4s linear;
          }
        }
      }
    }

    h1 {
      font-size: 20px;
      font-weight: 900;
      color: var(--light-color);
      margin-bottom: 32px;

      @media (max-width: 992px) {
        padding-top: 20px;
        margin: 0px 0px 20px;
        border-top: 1px solid rgba($color: #fff, $alpha: 0.05);
      }
    }

    .links {
      width: 100%;
      @include flexColumnCenter();
      gap: 15px;

      li a {
        font-size: 15px;
        font-weight: 500;
        color: var(--light-color);
        transition: all .3s linear;

        &:hover {
          padding-inline-start: 15px;
          color: var(--secondary-color);
        }
      }
    }

    .contact-data {
      width: 100%;
      @include flexBetween();
      background-color: #152D4C;
      border: 1px solid #273D59;
      border-radius: 16px;
      transition: all .3s linear;
      margin-bottom: 24px;
      padding: 18px 24px;

      @media (max-width: 992px) {
        padding: 20px 10px;
      }

      &:last-child {
        margin-bottom: 0px;
      }

      .data {
        width: calc(100% - 24px);

        p {
          font-size: 15px;
          font-weight: 900;
          color: var(--light-color);
          margin: 5px 0px 0px; 
        }

        span {
          color: var(--gray-color);
          font-size: 15px;
          font-weight: 500;
        }
      }

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }

      &:hover {
        transform: translateY(-10px);

        p {
          color: var(--secondary-color);
        }

        img {
          animation: tada .3s linear both;
        }
      }
    }
  }

  .copyrights {
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid rgba($color: #fff, $alpha: 0.20);

    p {
      color: var(--light-color);
      font-size: 15px;
      font-weight: 500;
      margin: 0px;
    }
  }
}

.fixed-icon {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 92;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
    
  @include ltr {
    left: unset;
    right: 10px;
  }

  .icon {
    width: 50px;
    height: 50px;
    @include flexCenter();
    border-radius: 50%;
    animation: shadow 2s linear infinite alternate;
      
    &.primary-color {
      background-color: var(--secondary-color);
    }

    &.secondary-color {
      background-color: #25D366;
    }

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }
}

.jobs {
  .job-box {
    width: 100%;
    padding: 24px;
    border: 1px solid #EDF0F2;
    border-radius: 16px;
    transition: all .3s linear;

    @media (max-width: 960px) {
      padding: 20px 15px;
    }

    .flex-contain {
      width: 100%;
      @include flexBetween();
      align-items: flex-start;
      align-content: flex-start;
      margin-bottom: 20px;

      @media (max-width: 992px) {
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px; 
      }

      .data {
        @media (min-width: 992px) {
          width: calc(100% - 200px);
        }

        .tags {
          @include flexData();
          gap: 12px;

          li {
            width: fit-content;
            padding: 4px 16px;
            border-radius: 50px;
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            color: var(--secondary-color);
            background-color: #F3F5F6;

            &:last-child {
              color: #EAA05F;
              background-color: rgba($color: #EAA05F, $alpha: 0.150);
            }
          }
        }

        h1 {
          font-size: 24px;
          font-weight: 900;
          color: var(--primary-color);
          margin: 20px 0px;
        }

        .loactions {
          @include flexData();
          gap: 20px;
          flex-wrap: wrap;

          li {
            @include flexData();
            gap: 10px;

            img {
              width: 24px;
              height: 24px;
              object-fit: contain;
            }

            span {
              font-size: 15px;
              font-weight: 500;
              color: var(--gray-color);
            }
          }
        }
      }

      .custom-btn {
        width: 180px;
      } 
    }

    p {
      color: var(--dark-color);
      font-size: 15px;
      font-weight: 500;
      margin: 0px; 

      @media (min-width: 992px) {
        width: 50%;
      }
    }

    &:hover {
      transform: translateY(-10px);

      h1 {
        color: var(--secondary-color) !important;
      }
    }
  }

  .pagination {
    width: 100%;
    margin-top: 20px;
    @include flexCenter();
    gap: 10px;
    flex-wrap: wrap;

    li {
      a, span {
        width: 50px;
        height: 50px;
        @include flexCenter();
        border-radius: 50%;
        border: 1px solid #EDF0F2;
        color: var(--gray-color);
        text-align: center;

        &.active, &:hover {
          background-color: var(--secondary-color);
          color: var(--light-color);
        }
      }
    }
  }
}

.job-details {
  padding-top: 0px;
  margin-top: -150px;

  @media (max-width: 992px) {
    margin-top: -50px;
  }

  .job-data {
    width: 100%;
    padding: 40px;
    background-color: var(--light-color);
    border-radius: 16px;
    border: 1px solid #EDF0F2;

    @media (max-width: 992px) {
      padding: 30px 15px;
    }

    .tags {
      @include flexData();
      gap: 12px;

      li {
        width: fit-content;
        padding: 4px 16px;
        border-radius: 50px;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        color: var(--secondary-color);
        background-color: #F3F5F6;

        &:last-child {
          color: #EAA05F;
          background-color: rgba($color: #EAA05F, $alpha: 0.150);
        }
      }
    }

    h1 {
      font-size: 24px;
      font-weight: 900;
      color: var(--primary-color);
      margin: 20px 0px;
    }

    .loactions {
      @include flexData();
      gap: 20px;
      flex-wrap: wrap;

      li {
        @include flexData();
        gap: 10px;

        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
        }

        span {
          font-size: 15px;
          font-weight: 500;
          color: var(--gray-color);
        }
      }
    }

    h2 {
      width: 100%;
      padding: 20px 0px 0px;
      border-top: 1px solid #EDF0F2;
      margin: 20px 0px;
      font-size: 30px;
      font-weight: 900;
      color: var(--primary-color);
    }

    .desc-list {
      @include flexColumnCenter();
      gap: 10px;

      li {
        font-size: 15px;
        font-weight: 500;
        margin: 0px;
        color: var(--gray-color);
        position: relative;
        z-index: 9;
        padding-inline-start: 16px;

        &::after {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: var(--primary-color);
          border-radius: 50%;
          top: calc(50% - 5px);
          right: 0px;
          z-index: -1;

          @media (max-width: 992px) {
            top: 5px;
          }

          @include ltr {
            left: 0px;
            right: unset;
          }
        }
      }
    }
  }

  .form-contain {
    width: 100%;
    position: relative;
    z-index: 9;

    .title {
      font-size: 32px;
      font-weight: 900;
      color: var(--primary-color);
      margin-bottom: 50px;

      @media (max-width: 992px) {
        margin-bottom: 30px;
      }
    }

    .sub-title {
      width: 100%;
      font-size: 24px;
      font-weight: 900;
      color: var(--primary-color);
      margin-bottom: 24px;
    }

    .data-contain {
      width: 100%;
      padding: 40px 40px 25px;
      background-color: var(--light-color);
      border-radius: 16px;
      border: 1px solid #EDF0F2;
      margin-bottom: 24px;

      @media (max-width: 992px) {
        padding: 30px 15px 15px;
      }

      label {
        font-size: 16px;
        font-weight: 700;
        color: var(--dark-color);
        display: block;
        margin-bottom: 10px;
      }

      .form-group.text-area {
        .form-control {
          border-radius: 8px !important;
        }
      }

      .form-control {
        background-color: #F3F5F6;
        border-radius: 8px;
        color: var(--dark-color);

        &::placeholder {
          color: var(--gray-color) !important;
        }

        &:hover {
          border-color: var(--primary-color);
        }
      }
    }
  }
}



input[type="file"]{
  display: none;
}

.form-label-shape {
  width: 100%;
  height: 50px;
  border: 1px dashed #D0D7DD;
  padding: 0px 12px;
  position: relative;
  font-size: 14px !important;
  background-color: #EDF0F2;
  font-weight: 500 !important;
  color: var(--gray-color) !important;
  border-radius: 5px;
  @include flexData();
  display: flex !important;
  gap: 10px;
  margin-bottom: 0px;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}



.file__value{
  margin: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.file__value--text{
  font-size: 15px;
  font-weight: 500;
  color: var(--dark-color);
}
.file__value--remove{
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;

  &::after{
    content: 'X';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--danger-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--light-color);
    font-size: 15px;

    @include ltr {
      left: unset;
      right: 0px;
    }
  }
}

@import 'media';