@import url('../fonts/trans_fonts/stylesheet.css');

/*@font-face {*/
/*    font-family: "ping";*/
/*    src: url("../fonts/ping/PingAR+LT-Medium.woff2");*/
/*    font-weight: 700;*/
/*}*/

/*@font-face {*/
/*    font-family: "ping";*/
/*    src: url("../fonts/ping/PingAR+LT-Regular.woff2");*/
/*    font-weight: 500;*/
/*}*/

/*@font-face {*/
/*    font-family: "ping";*/
/*    src: url("../fonts/ping/PingAR+LT-Bold.woff2");*/
/*    font-weight: 900;*/
/*}*/

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Ping", sans-serif;
    scroll-behavior: smooth;
}

*::-moz-selection {
    background-color: var(--primary-color);
    color: #fff;
}

*::selection {
    background-color: var(--primary-color);
    color: #fff;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: #ccc;
}

*::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

.overflowNone {
    overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
    outline-width: 0px !important;
    outline-color: transparent !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

button {
    outline: none !important;
    border: 0px !important;
}

.swiper-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(3, 22, 38, 0.5);
    border-radius: 50%;
    transition: all 0.3s linear;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1 !important;
    transform: scale(1.2);
    background-color: var(--secondary-color);
}

.swiper-button-next, .swiper-button-prev {
    top: unset;
    transform: translateY(0px);
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    bottom: 0;
    border-radius: 50%;
}

.swiper-button-next::before, .swiper-button-prev::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0);
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: all 0.3s linear;
}

.swiper-button-next::after, .swiper-button-prev::after {
    position: absolute;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    z-index: 9;
    background: url("../images/icons/arrow.svg") center/contain no-repeat;
    color: transparent;
    filter: var(--primary-filter);
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    border-color: var(--primary-color);
}

.swiper-button-next:hover::before, .swiper-button-prev:hover::before {
    transform: scale(1);
}

.swiper-button-next:hover::after, .swiper-button-prev:hover::after {
    filter: var(--light-filter);
}

.swiper-button-prev {
    left: calc(50% - 55px) !important;
    right: unset !important;
}

.swiper-button-next {
    left: unset !important;
    right: calc(50% - 55px) !important;
}

.swiper-button-next::after {
    transform: scaleX(-1);
}

.swiper-button-next, .swiper-button-prev {
    top: unset;
    transform: translateY(0px);
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    bottom: 0;
    border-radius: 50%;
}

.swiper-button-next::before, .swiper-button-prev::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1);
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: all 0.3s linear;
}

.swiper-button-next::after, .swiper-button-prev::after {
    position: absolute;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    z-index: 9;
    background: url("../images/icons/arrow.svg") center/contain no-repeat;
    color: transparent;
    filter: var(--light-filter);
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    border-color: var(--primary-color);
}

.swiper-button-next:hover::before, .swiper-button-prev:hover::before {
    transform: scale(0);
}

.swiper-button-next:hover::after, .swiper-button-prev:hover::after {
    filter: var(--primary-filter);
}

.swiper-button-prev {
    left: calc(50% - 55px) !important;
    right: unset !important;
}

.swiper-button-next {
    left: unset !important;
    right: calc(50% - 55px) !important;
}

.swiper-button-next::after {
    transform: scaleX(-1);
}

@keyframes bounce-in-fwd {
    0% {
        transform: scale(0);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: scale(1);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: scale(0.7);
        animation-timing-function: ease-in;
    }
    72% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    81% {
        transform: scale(0.84);
        animation-timing-function: ease-in;
    }
    89% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    95% {
        transform: scale(0.95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-top {
    0% {
        transform: translateY(-50px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateY(-20px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(-15px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-4px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-left {
    0% {
        transform: translateX(-30px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateX(-20px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateX(-10px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateX(-4px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
}

@keyframes pulse-shadow {
    100% {
        box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg) scale3d(1, 1, 1);
    }
    100% {
        transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
    }
}

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulseR {
    0%, 100% {
        transform: scaleX(-1) scaleY(1);
    }
    50% {
        transform: scaleX(-1.2) scaleY(1.2);
    }
}

/*dropdown animation*/
@keyframes dropdown-animate {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(20deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes wave {
    0%, 100% {
        -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

@keyframes niceAnimate {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes translation {
    0% {
        transform: translateZ(0%);
    }
    100% {
        transform: translateZ(10%);
    }
}

@keyframes rotate-scale-up {
    0% {
        transform: scale(1) rotateZ(0);
    }
    50% {
        transform: scale(2) rotateZ(180deg);
    }
    100% {
        transform: scale(1) rotateZ(360deg);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes vibrate {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-10px, 10px);
    }
    40% {
        transform: translate(-10px, -10px);
    }
    60% {
        transform: translate(10px, 10px);
    }
    80% {
        transform: translate(10px, -10px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes translateX {
    0%, 100% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(-2px);
    }
}

@keyframes translateY {
    0%, 100% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-2px);
    }
}

@keyframes translateYR {
    0%, 100% {
        transform: translateY(2px) scaleX(-1);
    }
    50% {
        transform: translateY(-2px) scaleX(-1);
    }
}

@keyframes flip-in-hor-bottom {
    0% {
        transform: rotateX(80deg) translate(-50%, -50%);
        opacity: 0;
    }
    100% {
        transform: rotateX(0) translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 35px -4px #00a4e6;
    }
    100% {
        box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
    }
}

@keyframes rotate {
    0% {
        border-radius: 50% 60% 55% 40%;
    }
    25% {
        border-radius: 30% 10% 70% 20%;
    }
    50% {
        border-radius: 20% 40% 30% 60%;
    }
    75% {
        border-radius: 70% 20% 50% 30%;
    }
    100% {
        border-radius: 50% 60% 55% 40%;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes move {
    25% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translateX(30px);
    }
    67% {
        opacity: 1;
        transform: translateX(40px);
    }
    100% {
        opacity: 0;
        transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes clip {
    0% {
        -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
        clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
    }
    50% {
        -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
        clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
    }
    100% {
        -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
        clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
    }
}

@keyframes sideClip {
    0% {
        -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
        clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
    }
    50% {
        -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
    }
    100% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes sideClip_2 {
    0% {
        -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
        clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
    }
    50% {
        -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
        clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
    }
    100% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
        clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
    }
}

@keyframes toRightFromLeft {
    49% {
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

@keyframes moving {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -10000px;
    }
}

:root {
    --primary-color: #031626;
    --secondary-color: #1D71B8;
    --dark-color: #000;
    --light-color: #fff;
    --gray-color: #475561;
    --yellow-color: #EAA05F;
    --semi-gray: #C0C5C9;
    --danger-color: #e92e2e;
    --primary-filter: invert(7%) sepia(18%) saturate(4148%) hue-rotate(179deg) brightness(91%) contrast(100%);
    --secondary-filter: invert(31%) sepia(25%) saturate(5048%) hue-rotate(190deg) brightness(94%) contrast(77%);
    --light-filter: invert(92%) sepia(100%) saturate(23%) hue-rotate(251deg) brightness(108%) contrast(100%);
    --gray-filter: invert(58%) sepia(0%) saturate(3400%) hue-rotate(13deg) brightness(87%) contrast(97%);
}

.general-section {
    width: 100%;
    padding: 80px 0px;
    position: relative;
    z-index: 9;
}

@media (max-width: 992px) {
    .general-section {
        padding: 40px 0px;
    }
}

.service-box {
    width: 100%;
    height: 480px;
    position: relative;
    z-index: 9;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s linear;
}

.service-box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #1F242E);
    top: 0;
    left: 0;
    z-index: -1;
}

.service-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    transition: all 0.3s linear;
}

.service-box .contain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    transition: all 0.3s linear;
    transform: translateY(90px);
}

.service-box .contain h2 {
    font-size: 24px;
    font-weight: 900;
    color: var(--light-color);
    margin: 0px;
}

.service-box .contain p {
    color: var(--light-color);
    font-size: 16px;
    font-weight: 500;
    margin: 12px 0px 0px;
}

.service-box .contain .custom-btn {
    width: 100%;
    transition: all 0.3s linear;
    margin: 22px 0px 0px;
}

.service-box:hover {
    transform: translateY(-10px);
}

.service-box:hover img {
    transform: scale(1.2);
}

.service-box:hover .contain {
    text-align: center;
    transform: translateY(0px);
}

.heading {
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

.heading h1 {
    font-size: 40px;
    font-weight: 900;
    color: var(--primary-color);
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .heading h1 {
        font-size: 25px;
    }
}

.heading p {
    color: var(--gray-color);
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}

@media (min-width: 992px) {
    .heading p {
        width: 30%;
        margin: auto;
    }
}

.custom-btn {
    width: 150px;
    height: 50px;
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 100px;
    overflow: hidden;
}

.custom-btn.secondary-btn {
    background-color: var(--secondary-color);
}

.custom-btn.semi-primary {
    background-color: #152D4C;
}

.custom-btn.primay-btn {
    background-color: var(--primary-color);
}

.custom-btn::after, .custom-btn::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../images/logo/white_team.svg") center/contain no-repeat;
    top: calc(50% - 12px);
    z-index: -1;
    animation: spin 2s linear infinite;
    transition: all 0.3s linear;
}

.custom-btn::after {
    left: -100%;
}

.custom-btn::before {
    right: -100%;
}

.custom-btn span {
    color: var(--light-color);
    font-size: 14px;
    font-weight: 700;
}

.custom-btn:hover::after {
    left: 10px;
}

.custom-btn:hover::before {
    right: 10px;
}

.custom-btn:hover span {
    animation: storm 0.4s linear both;
}

.navbar {
    width: 100%;
    padding: 24px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s linear;
}

.navbar.scrolled {
    padding: 12px 0px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.navbar.scrolled .brand-name img {
    height: 50px;
}

@media (max-width: 992px) {
    .navbar.scrolled .nav-contain {
        top: 77px !important;
    }
}

.navbar .contain {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.navbar .contain .hamburger {
    display: none;
}

@media (max-width: 992px) {
    .navbar .contain .hamburger {
        display: block;
    }
}

.navbar .contain .hamburger .line {
    width: 30px;
    height: 3px;
    background: var(--light-color);
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
}

.navbar .contain .hamburger.active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.navbar .contain .hamburger.active .line:nth-child(2) {
    width: 0px;
}

.navbar .contain .hamburger.active .line:nth-child(1), .navbar .contain .hamburger.active .line:nth-child(3) {
    transition-delay: 0.3s;
}

.navbar .contain .hamburger.active .line:nth-child(1) {
    transform: translateY(6.5px);
}

.navbar .contain .hamburger.active .line:nth-child(3) {
    transform: translateY(-15px) rotate(90deg);
}

.navbar .contain .brand-name img {
    width: 100px;
    height: 60px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    transition: all 0.3s linear;
}

@media (max-width: 1199px) {
    .navbar .contain .brand-name img {
        width: 80px;
    }
}

@media (max-width: 992px) {
    .navbar .contain .brand-name img {
        width: 100px;
    }
}

.navbar .contain .nav-contain {
    width: calc(100% - 212px);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

@media (max-width: 1399px) {
    .navbar .contain .nav-contain {
        width: calc(100% - 110px) !important;
    }
}

@media (max-width: 1199px) {
    .navbar .contain .nav-contain {
        width: calc(100% - 80px);
    }
}

@media (max-width: 992px) {
    .navbar .contain .nav-contain {
        position: absolute;
        width: 100% !important;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        padding: 20px 15px;
        top: 110px;
        right: -100%;
        background-color: var(--primary-color);
        gap: 15px;
        transition: all 0.3s linear;
    }

    html[dir=ltr] .navbar .contain .nav-contain {
        left: -100%;
        right: unset;
    }

    .navbar .contain .nav-contain.active-nav {
        right: 0px;
    }

    html[dir=ltr] .navbar .contain .nav-contain.active-nav {
        left: 0px;
        right: unset;
    }
}

.navbar .contain .navbar-nav {
    flex-direction: row;
    gap: 0px;
}

@media (max-width: 992px) {
    .navbar .contain .navbar-nav {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
}

.navbar .contain .navbar-nav .nav-item {
    padding: 0px 16px;
    border-inline-end: 1px solid #475561;
}

@media (max-width: 1199px) {
    .navbar .contain .navbar-nav .nav-item {
        padding: 0px 10px;
    }
}

@media (max-width: 992px) {
    .navbar .contain .navbar-nav .nav-item {
        padding: 16px 0px !important;
        border-inline-end: 0px;
        border-bottom: 1px solid #475561;
    }
}

.navbar .contain .navbar-nav .nav-item:last-child {
    border-inline-end: 0px;
}

.navbar .contain .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    font-weight: 700;
    color: var(--semi-gray);
    position: relative;
    z-index: 9;
    padding: 0px;
}

@media (max-width: 1199px) {
    .navbar .contain .navbar-nav .nav-item .nav-link {
        font-size: 12px;
    }
}

.navbar .contain .navbar-nav .nav-item .nav-link::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../images/logo/team.svg") center/contain no-repeat;
    bottom: -20px;
    left: calc(50% - 10px);
    animation: spin 2s linear infinite;
    opacity: 0;
}

@media (max-width: 992px) {
    .navbar .contain .navbar-nav .nav-item .nav-link::after {
        display: none;
    }
}

.navbar .contain .navbar-nav .nav-item .nav-link:hover, .navbar .contain .navbar-nav .nav-item .nav-link.active {
    color: var(--yellow-color);
}

.navbar .contain .navbar-nav .nav-item .nav-link:hover::after, .navbar .contain .navbar-nav .nav-item .nav-link.active::after {
    opacity: 1;
}

.navbar .contain .button-contain {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 24px;
}

.navbar .contain .button-contain .lang {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.navbar .contain .button-contain .lang img {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
}

.navbar .contain .button-contain .lang span {
    color: var(--semi-gray);
    font-size: 15px;
    font-weight: 700;
}

.navbar .contain .button-contain .lang:hover img {
    animation: tada 0.3s linear both;
}

.navbar .contain .button-contain .lang:hover span {
    color: var(--light-color);
}

header {
    width: 100%;
    padding: 270px 0px 185px;
    background-color: var(--primary-color);
    position: relative;
    z-index: 9;
    overflow: hidden;
}

@media (max-width: 960px) {
    header {
        padding: 150px 0px 70px;
    }
}

header .contain {
    width: 100%;
}

header .contain .title {
    font-size: 20px;
    font-weight: 900;
    color: var(--yellow-color);
    margin: 0px;
    padding-inline-start: 35px;
    position: relative;
    z-index: 9;
}

header .contain .title::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../images/logo/team.svg") center/contain no-repeat;
    z-index: -1;
    top: calc(50% - 12px);
    right: 0px;
    animation: spin 1s linear infinite;
}

html[dir=ltr] header .contain .title::after {
    left: 0px;
    right: unset;
}

header .contain h1 {
    font-size: 20px;
    font-weight: 900;
    color: var(--light-color);
    margin: 20px 0px;
    line-height: 40px;
}

@media (min-width: 960px) {
    header .contain h1 {
        font-size: 50px;
        line-height: 72px;
    }
}

header .contain p {
    color: var(--semi-gray);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}

header .contain .button-contain {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 16px;
}

header .intro-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: bottom left;
    object-position: bottom left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: translateY 1s linear infinite alternate;
}

html[dir=ltr] header .intro-img {
    animation: translateYR 1s linear infinite alternate !important;
}

.sub-header {
    width: 100%;
    padding: 160px 0px 80px;
    position: relative;
    z-index: 9;
    overflow: hidden;
    background-color: var(--primary-color);
}

.sub-header.large-sub-header {
    padding: 185px 0px 140px;
}

@media (max-width: 992px) {
    .sub-header.large-sub-header {
        padding: 140px 0px 50px;
    }
}

.sub-header.large-header {
    padding: 160px 0px 200px;
}

@media (max-width: 960px) {
    .sub-header.large-header {
        padding: 160px 0px 150px;
    }
}

@media (max-width: 992px) {
    .sub-header {
        padding: 160px 0px 40px;
    }
}

.sub-header::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: url("../images/about/circle.svg") center/contain no-repeat;
    top: -100px;
    left: -50px;
    animation: spin 4s linear infinite;
    z-index: -1;
}

@media (max-width: 992px) {
    .sub-header::after {
        width: 150px;
        height: 150px;
        top: -50px;
    }
}

html[dir=ltr] .sub-header::after {
    right: -50px;
    left: unset;
}

.sub-header.about-us h1 {
    color: var(--light-color) !important;
}

.sub-header .header-contain {
    width: 50%;
    text-align: center;
    margin: 0px auto;
}

@media (max-width: 992px) {
    .sub-header .header-contain {
        width: 100%;
    }
}

.sub-header .header-contain h1 {
    font-size: 40px;
    font-weight: 900;
    color: var(--light-color);
    margin-bottom: 10px;
}

.sub-header .header-contain p {
    color: var(--gray-color);
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
}

.sub-header .header-contain .custom-btn {
    margin: 20px auto 0px;
}

.sub-header .header-contain .contact-shape {
    width: 100%;
    margin-top: 50px;
}

@media (max-width: 992px) {
    .sub-header .header-contain .contact-shape {
        margin-top: 30px;
    }
}

.sub-header .header-contain .contact-shape .contact-data {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid #273D59;
    border-radius: 16px;
    transition: all 0.3s linear;
    margin-bottom: 24px;
    padding: 18px 24px;
}

@media (max-width: 992px) {
    .sub-header .header-contain .contact-shape .contact-data {
        padding: 20px 10px;
    }
}

.sub-header .header-contain .contact-shape .contact-data:last-child {
    margin-bottom: 0px;
}

.sub-header .header-contain .contact-shape .contact-data .data {
    width: calc(100% - 24px);
    text-align: start;
}

.sub-header .header-contain .contact-shape .contact-data .data p {
    font-size: 15px;
    font-weight: 900;
    color: var(--light-color);
    margin: 5px 0px 0px;
}

.sub-header .header-contain .contact-shape .contact-data .data span {
    color: var(--gray-color);
    font-size: 15px;
    font-weight: 500;
}

.sub-header .header-contain .contact-shape .contact-data img {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
}

.sub-header .header-contain .contact-shape .contact-data:hover {
    transform: translateY(-10px);
}

.sub-header .header-contain .contact-shape .contact-data:hover p {
    color: var(--secondary-color);
}

.sub-header .header-contain .contact-shape .contact-data:hover img {
    animation: tada 0.3s linear both;
}

.about-us.why-header {
    width: 100%;
    padding-top: 0px;
    margin-top: -150px;
    z-index: 9;
}

@media (max-width: 992px) {
    .about-us.why-header {
        margin-top: -100px;
    }
}

.about-us.why-header .why-header-img {
    width: 80%;
    height: 540px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    z-index: 9;
    margin: 0px auto 50px;
}

@media (max-width: 960px) {
    .about-us.why-header .why-header-img {
        width: 100%;
        height: 340px;
    }
}

.about-us.why-header .why-header-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #011B3C, transparent);
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.8;
}

.about-us.why-header .why-header-img .intro-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    animation: pulse 10s linear infinite alternate;
}

.about-us.why-header .why-header-img .video-play {
    width: 75px;
    height: 75px;
    position: absolute;
    top: calc(50% - 37.5px);
    left: calc(50% - 37.5px);
    z-index: 99;
    border-radius: 50%;
    animation: shadow 2s linear infinite alternate;
}

.about-us.why-header .why-header-img .video-play img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.about-us.about-pattern::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: url("../images/about/circle.svg") center/contain no-repeat;
    top: -100px;
    right: -50px;
    animation: spin 4s linear infinite;
    z-index: -1;
}

@media (max-width: 992px) {
    .about-us.about-pattern::after {
        width: 150px;
        height: 150px;
        top: -50px;
    }
}

html[dir=ltr] .about-us.about-pattern::after {
    left: -50px;
    right: unset;
}

.about-us .image-contain {
    width: 100%;
    height: 500px;
    border-radius: 16px;
    overflow: hidden;
    animation: translateY 1s linear infinite alternate;
    position: relative;
    z-index: 9;
}

@media (max-width: 992px) {
    .about-us .image-contain {
        height: 250px;
    }
}

.about-us .image-contain::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #1D71B8, transparent);
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0.5;
}

.about-us .image-contain img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.about-us .contain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 992px) {
    .about-us .contain.padding-data {
        padding-inline-start: 50px;
    }
}

.about-us .contain h1 {
    font-size: 20px;
    font-weight: 900;
    color: var(--primary-color);
    margin: 0px;
    line-height: 30px;
}

@media (min-width: 992px) {
    .about-us .contain h1 {
        font-size: 50px;
        line-height: 70px;
    }
}

.about-us .contain p {
    color: var(--gray-color);
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0px 40px;
}

.about-us .contain .contact-icon {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.about-us .contain .contact-icon .icon-contain {
    width: 100px;
    height: 100px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    z-index: 9;
    border-radius: 50%;
    align-items: center;
    align-content: center;
}

.about-us .contain .contact-icon .icon-contain::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/about/circle.svg") center/contain no-repeat;
    top: -20px;
    right: -20px;
    z-index: -2;
    animation: spin 2s linear infinite;
    opacity: 0.5;
}

html[dir=ltr] .about-us .contain .contact-icon .icon-contain::after {
    left: -50px;
    right: unset;
}

.about-us .contain .contact-icon .icon-contain span {
    color: var(--light-color);
}

.about-us .contain .contact-icon .icon-contain span.number {
    font-weight: 900;
    font-size: 20px;
}

.about-us .contain .contact-icon .icon-contain span.word {
    font-weight: 500;
    font-size: 15px;
}

.about-us .contain .contact-icon .data {
    width: calc(100% - 124px);
}

.about-us .contain .contact-icon .data h2 {
    color: #4D5E6A;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-us .contain .contact-icon .data p {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 700;
    margin: 0px;
}

.about-us .message-contain {
    width: 100%;
    margin-top: 50px;
}

@media (max-width: 992px) {
    .about-us .message-contain {
        margin-top: 30px;
    }
}

.about-us .box {
    width: 100%;
    height: 100%;
    padding: 32px;
    border: 1px solid #EDF0F2;
    border-radius: 16px;
    transition: all 0.3s linear;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 992px) {
    .about-us .box {
        padding: 20px 15px;
        gap: 15px;
    }
}

.about-us .box img {
    width: 80px;
    height: 80px;
    -o-object-fit: contain;
    object-fit: contain;
}

.about-us .box h2 {
    font-size: 24px;
    font-weight: 900;
    color: var(--primary-color);
    margin-bottom: 12px;
}

.about-us .box p {
    color: var(--gray-color);
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
    text-align: justify;
}

@media (min-width: 992px) {
    .about-us .box.flex-data {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .about-us .box.flex-data .data {
        width: calc(100% - 80px);
    }
}

.about-us .box:hover {
    transform: translateY(-10px);
}

.about-us .box:hover h2 {
    color: var(--secondary-color);
}

.about-us .box:hover img {
    animation: tada 0.4s linear both;
}

.single-services {
    width: 100%;
    padding-top: 0px;
    margin-top: -150px;
    z-index: 9;
}

@media (max-width: 992px) {
    .single-services {
        margin-top: -100px;
    }
}

.single-services .image-contain {
    width: 100%;
    height: 540px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    z-index: 9;
    margin: 0px auto 50px;
}

@media (max-width: 960px) {
    .single-services .image-contain {
        height: 340px;
    }
}

.single-services .image-contain::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #011B3C, transparent);
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.8;
}

.single-services .image-contain img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    animation: pulse 10s linear infinite alternate;
}

.single-services h1 {
    font-size: 32px;
    font-weight: 900;
    color: var(--dark-color);
    margin: 0px;
}

.single-services .contain {
    width: 100%;
    padding: 32px;
    background-color: var(--light-color);
    border: 1px solid #EDF0F2;
    border-radius: 16px;
    margin: 26px 0px;
}

@media (max-width: 992px) {
    .single-services .contain {
        padding: 20px 15px;
    }
}

.single-services .contain p {
    color: var(--gray-color);
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
}

.single-services .contain .list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.single-services .contain .list li {
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
    color: var(--gray-color);
    position: relative;
    z-index: 9;
    padding-inline-start: 16px;
}

.single-services .contain .list li::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: calc(50% - 5px);
    right: 0px;
    z-index: -1;
}

@media (max-width: 992px) {
    .single-services .contain .list li::after {
        top: 5px;
    }
}

html[dir=ltr] .single-services .contain .list li::after {
    left: 0px;
    right: unset;
}

.why {
    background-color: var(--primary-color);
}

.why .contain {
    width: 100%;
}

.why .contain h1 {
    font-size: 25px;
    font-weight: 900;
    padding-inline-start: 40px;
    position: relative;
    z-index: 9;
    color: var(--light-color);
    margin: 0px;
}

@media (min-width: 992px) {
    .why .contain h1 {
        font-size: 40px;
    }
}

.why .contain h1::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: url("../images/about/circle.svg") center/contain no-repeat;
    top: calc(50% - 40px);
    right: 0;
    z-index: -1;
    animation: spin 3s linear infinite;
}

html[dir=ltr] .why .contain h1::after {
    left: 0px;
    right: unset;
}

.why .contain p {
    color: var(--gray-color);
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0px 50px;
}

@media (max-width: 992px) {
    .why .contain p {
        margin-bottom: 30px;
    }
}

.why .contain .list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.why .contain .list li {
    padding-inline-start: 80px;
    position: relative;
    z-index: 9;
    font-size: 18px;
    font-weight: 900;
    color: var(--light-color);
}

/* Common styles for both LTR and RTL */
.why .contain .list li::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("../images/icons/check_icon.svg") center/contain no-repeat;
    top: calc(50% - 30px);
    right: 0;
    z-index: -1;
}

/* LTR styles */
:dir(ltr) .why .contain .list li::after {
    left: 0;
    right: unset;
}

/* RTL styles */
:dir(rtl) .why .contain .list li::after {
    left: unset;
    right: 0;
}


@media (min-width: 992px) {
    .why .box-contain:nth-child(2) {
        padding-top: 40px;
    }
}

@media (min-width: 992px) {
    .why .box-contain:nth-child(3) {
        margin-top: -60px;
    }
}

@media (max-width: 992px) {
    .why .box-contain {
        padding: 0px 10px;
    }
}

.why .box {
    width: 100%;
    padding: 32px;
    background-color: transparent;
    border: 1px solid #273D59;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: all 0.3s linear;
    gap: 20px;
}

@media (max-width: 992px) {
    .why .box {
        padding: 20px 5px;
        height: 100%;
        gap: 10px;
    }
}

.why .box img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    -o-object-position: center;
    object-position: center;
}

.why .box h2 {
    font-size: 24px;
    font-weight: 900;
    color: var(--light-color);
    margin: 0px;
}

@media (max-width: 992px) {
    .why .box h2 {
        font-size: 18px;
    }
}

.why .box p {
    color: var(--gray-color);
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
}

.why .box:hover {
    transform: translateY(-10px);
}

.why .box:hover h2 {
    color: var(--secondary-color);
}

.services .heading {
    margin-bottom: 40px;
}

@media (max-width: 992px) {
    .services .heading {
        margin-bottom: 30px;
    }
}

.services .swiper-wrapper {
    padding: 20px 0px 90px;
}

.all-sections {
    background-color: #F3F5F6;
    overflow: hidden;
}

.all-sections .all-section-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center left;
    object-position: center left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: pulse 10s linear infinite alternate;
}

html[dir=ltr] .all-sections .all-section-img {
    animation: pulseR 10s linear infinite alternate;
}

.all-sections .box {
    width: 100%;
    padding: 12px;
    border-radius: 100px;
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    transition: all 0.3s linear;
}

@media (max-width: 992px) {
    .all-sections .box {
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        text-align: center;
        gap: 10px;
    }
}

.all-sections .box .box-icon {
    width: 72px;
    height: 72px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 50%;
}

.all-sections .box p {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    width: calc(100% - 96px);
}

@media (max-width: 992px) {
    .all-sections .box p {
        width: 100%;
    }
}

.all-sections .box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    border: 1px solid #EDF0F2;
    border-radius: 100px;
    transition: all 0.3s linear;
    top: 0;
    right: 0;
    z-index: -1;
}

@media (max-width: 992px) {
    .all-sections .box::after {
        border-radius: 20px;
    }
}

html[dir=ltr] .all-sections .box::after {
    left: 0px;
    right: unset;
}

@media (max-width: 992px) {
    .all-sections .box:hover {
        transform: translateY(-10px);
    }
}

.all-sections .box:hover img {
    animation: tada 0.3s linear both;
}

@media (min-width: 992px) {
    .all-sections .box:hover::after {
        width: 96px;
    }
}

.all-sections .box:hover p {
    color: var(--secondary-color);
    animation: storm 0.4s linear both;
}

.modal-dialog {
    width: 100%;
    border: 0px;
    padding: 0px;
    border-radius: 0px;
    margin: 0px auto !important;
}

.modal-dialog .modal-content {
    width: 100%;
    border: 0px;
    padding: 0px;
    border-radius: 40px;
}

@media (max-width: 992px) {
    .modal-dialog .modal-content {
        border-radius: 15px;
    }
}

.modal-dialog .modal-content .modal-body {
    width: 100%;
    border: 0px;
    padding: 0px;
    border-radius: 0px;
}

.modal-dialog .modal-content .modal-body .form-contain {
    padding: 60px 40px;
}

.modal-dialog .modal-content .modal-body .form-contain .form-control {
    background-color: #FBFBFB;
}

.modal-dialog .modal-content .modal-body .form-contain .text-area {
    height: 140px;
}

.modal-dialog .modal-content .modal-body .form-contain .custom-btn {
    width: 100% !important;
}

.modal-dialog .modal-content .modal-body .form-contain h1 {
    font-size: 20px;
    font-weight: 900;
    color: var(--dark-color);
    margin: 0px;
    text-align: center;
}

.modal-dialog .modal-content .modal-body .form-contain p {
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
    margin: 20px 0px;
    text-align: center;
}

.modal-dialog .modal-content .modal-body .contain {
    width: 100%;
    padding: 70px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    z-index: 9;
}

.modal-dialog .modal-content .modal-body .contain::after, .modal-dialog .modal-content .modal-body .contain::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: url("../images/logo/team.svg") center/contain no-repeat;
    z-index: -1;
    animation: spin 2s linear infinite;
    opacity: 0.5;
}

@media (max-width: 992px) {
    .modal-dialog .modal-content .modal-body .contain::after, .modal-dialog .modal-content .modal-body .contain::before {
        width: 50px;
        height: 50px;
    }
}

.modal-dialog .modal-content .modal-body .contain::before {
    top: 0;
    right: 0px;
}

html[dir=ltr] .modal-dialog .modal-content .modal-body .contain::before {
    left: 0px;
    right: unset;
}

.modal-dialog .modal-content .modal-body .contain::after {
    bottom: 0;
    left: 0;
}

html[dir=ltr] .modal-dialog .modal-content .modal-body .contain::after {
    left: unset;
    right: 0px;
}

@media (max-width: 992px) {
    .modal-dialog .modal-content .modal-body .contain {
        padding: 30px 20px;
    }
}

.modal-dialog .modal-content .modal-body .contain img {
    width: 85px;
    height: 85px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 20px;
}

.modal-dialog .modal-content .modal-body .contain h1 {
    font-size: 20px;
    font-weight: 900;
    color: var(--dark-color);
    margin: 0px;
}

.modal-dialog .modal-content .modal-body .contain p {
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
    margin: 20px 0px;
}

.contact-us.margin-data {
    margin-top: -150px;
    padding-top: 0px;
}

.contact-us .contact-contain {
    width: 100%;
    padding: 80px 75px;
    background-color: #011B3C;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    z-index: 9;
}

@media (max-width: 992px) {
    .contact-us .contact-contain {
        padding: 50px 15px 30px;
        border-radius: 25px;
    }
}

.contact-us .contact-contain .contact-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center right;
    object-position: center right;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: pulse 10s linear infinite alternate;
    opacity: 0.5;
}

html[dir=ltr] .contact-us .contact-contain .contact-img {
    animation: pulseR 10s linear infinite alternate;
}

.contact-us .contact-contain .contain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 992px) {
    .contact-us .contact-contain .contain {
        padding-inline-end: 160px;
    }
}

.contact-us .contact-contain .contain h1 {
    font-size: 40px;
    font-weight: 900;
    color: var(--light-color);
    margin-bottom: 15px;
}

@media (max-width: 992px) {
    .contact-us .contact-contain .contain h1 {
        font-size: 25px;
    }
}

.contact-us .contact-contain .contain p {
    color: var(--light-color);
    opacity: 0.75;
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
}

.contact-us .contact-contain .custom-btn {
    width: 100%;
}

.form-data {
    width: 100%;
    margin-bottom: 18px;
    position: relative;
    z-index: 9;
}

.form-data.phone-number-input {
    z-index: 99 !important;
}

.form-data.phone-number-input.new-phone-number {
    z-index: 991 !important;
}

.form-data .form-group {
    width: 100%;
    height: 55px;
    position: relative;
    z-index: 9;
    margin: 0px;
}

.form-data .form-group.dropdown-item {
    width: 100% !important;
    background: #fff !important;
    border: 1px solid rgba(91, 157, 21, 0.08) !important;
}

.form-data .form-group.dropdown-item .form-control {
    width: 100% !important;
}

.form-data .form-group.dropdown-item:active {
    background: transparent !important;
}

.form-data .form-group.text-area {
    height: 100px;
}

.form-data .form-group.text-area .icon {
    top: 15px;
}

.form-data .form-group.text-area .form-control {
    padding-top: 15px;
    border-radius: 20px !important;
}

.form-data .form-group .form-control {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: #152D4C;
    padding-inline-start: 20px;
    font-size: 16px;
    resize: none;
    border: 1px solid transparent;
    font-weight: 500;
    color: var(--light-color);
}

.form-data .form-group .form-control::-moz-placeholder {
    font-size: 16px;
    font-weight: 500;
    color: var(--light-color) !important;
}

.form-data .form-group .form-control::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: var(--light-color) !important;
}

.form-data .form-group.select-data::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: url("../images/contact/arrow.svg") center/contain no-repeat;
    top: calc(50% - 7.5px);
    left: 15px;
    z-index: 9;
    pointer-events: none;
    filter: var(--light-filter);
}

html[dir=ltr] .form-data .form-group.select-data::after {
    left: unset;
    right: 15px;
}

.form-data .form-group.select-data .form-control {
    color: var(--light-color);
}

.form-data .form-group:hover img {
    animation: tada 0.3s linear both;
}

.form-data .form-group:hover .form-control {
    border-color: var(--yellow-color);
}

.form-data .error {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 10px !important;
    position: relative;
    z-index: 9;
    padding-inline-start: 40px;
    color: var(--danger-color);
    font-size: 16px;
    font-weight: 500;
}

.form-data .error::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../images/icons/error.svg") center/contain no-repeat;
    top: calc(50% - 12px);
    right: 0;
    z-index: -1;
}

html[dir=ltr] .form-data .error::after {
    left: 0;
    right: unset;
}

.partners {
    padding-top: 0px;
}

.partners .heading {
    margin-bottom: 40px;
}

@media (max-width: 992px) {
    .partners .heading {
        margin-bottom: 30px;
    }
}

.partners .partner-box {
    width: 100%;
    height: 100px;
    border: 1px solid #EDF0F2;
    border-radius: 100px;
    overflow: hidden;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

@media (max-width: 992px) {
    .partners .partner-box {
        border-radius: 10px;
        height: 60px;
    }
}

.partners .partner-box img {
    width: 85%;
    height: 85%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}

.partners .partner-box:hover {
    transform: translateY(-10px);
    border-color: var(--secondary-color);
}

.partners .swiper-wrapper {
    padding: 15px 0px 50px;
}

.join-us {
    width: 100%;
    position: relative;
    z-index: 91;
    margin-bottom: -130px;
}

.join-us .contain {
    width: 100%;
    padding: 111px 0px;
    position: relative;
    z-index: 9;
    border-radius: 40px;
    overflow: hidden;
    text-align: center;
    background-color: var(--secondary-color);
}

@media (max-width: 992px) {
    .join-us .contain {
        padding: 40px 20px;
        border-radius: 20px;
    }
}

.join-us .contain::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/icons/join_us.svg") top left/cover no-repeat;
    top: 0;
    left: 0;
    z-index: -1;
    animation: pulse 10s linear infinite alternate;
}

html[dir=ltr] .join-us .contain::after {
    animation: pulseR 10s linear infinite alternate;
}

.join-us .contain h1 {
    font-size: 50px;
    font-weight: 900;
    color: var(--light-color);
    margin: 20px 0px;
}

@media (max-width: 992px) {
    .join-us .contain h1 {
        font-size: 30px;
    }
}

.join-us .contain p {
    color: var(--light-color);
    margin: 0px;
    font-weight: 900;
    font-size: 20px;
}

@media (max-width: 992px) {
    .join-us .contain p {
        font-size: 15px;
    }
}

.join-us .contain .custom-btn {
    margin: 0px auto;
}

footer {
    width: 100%;
    padding: 240px 0px 0px;
    background-color: var(--primary-color);
    position: relative;
    z-index: 9;
}

footer.small-footer {
    padding-top: 100px;
}

@media (max-width: 992px) {
    footer.small-footer {
        padding-top: 60px;
    }
}

@media (max-width: 992px) {
    footer {
        padding-top: 180px;
    }
}

footer .contain {
    width: 100%;
}

@media (min-width: 992px) {
    footer .contain.padding-data {
        padding-inline-start: 100px;
    }
}

footer .contain .brand-name img {
    width: 100px;
    height: 60px;
    -o-object-fit: contain;
    object-fit: contain;
}

footer .contain p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0px;
}

@media (min-width: 992px) {
    footer .contain p {
        width: 90%;
        margin: 40px 0px;
    }
}

footer .contain .socail {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
}

footer .contain .socail li a {
    width: 50px;
    height: 50px;
    border: 1px solid #273D59;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

footer .contain .socail li a img {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
}

footer .contain .socail li a:hover {
    border-color: var(--light-color);
}

footer .contain .socail li a:hover img {
    animation: fadeInLeft 0.4s linear;
}

footer .contain h1 {
    font-size: 20px;
    font-weight: 900;
    color: var(--light-color);
    margin-bottom: 32px;
}

@media (max-width: 992px) {
    footer .contain h1 {
        padding-top: 20px;
        margin: 0px 0px 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.05);
    }
}

footer .contain .links {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

footer .contain .links li a {
    font-size: 15px;
    font-weight: 500;
    color: var(--light-color);
    transition: all 0.3s linear;
}

footer .contain .links li a:hover {
    padding-inline-start: 15px;
    color: var(--secondary-color);
}

footer .contain .contact-data {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #152D4C;
    border: 1px solid #273D59;
    border-radius: 16px;
    transition: all 0.3s linear;
    margin-bottom: 24px;
    padding: 18px 24px;
}

@media (max-width: 992px) {
    footer .contain .contact-data {
        padding: 20px 10px;
    }
}

footer .contain .contact-data:last-child {
    margin-bottom: 0px;
}

footer .contain .contact-data .data {
    width: calc(100% - 24px);
}

footer .contain .contact-data .data p {
    font-size: 15px;
    font-weight: 900;
    color: var(--light-color);
    margin: 5px 0px 0px;
}

footer .contain .contact-data .data span {
    color: var(--gray-color);
    font-size: 15px;
    font-weight: 500;
}

footer .contain .contact-data img {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
}

footer .contain .contact-data:hover {
    transform: translateY(-10px);
}

footer .contain .contact-data:hover p {
    color: var(--secondary-color);
}

footer .contain .contact-data:hover img {
    animation: tada 0.3s linear both;
}

footer .copyrights {
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer .copyrights p {
    color: var(--light-color);
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
}

.fixed-icon {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 92;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

html[dir=ltr] .fixed-icon {
    left: unset;
    right: 10px;
}

.fixed-icon .icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    animation: shadow 2s linear infinite alternate;
}

.fixed-icon .icon.primary-color {
    background-color: var(--secondary-color);
}

.fixed-icon .icon.secondary-color {
    background-color: #25D366;
}

.fixed-icon .icon img {
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
}

.jobs .job-box {
    width: 100%;
    padding: 24px;
    border: 1px solid #EDF0F2;
    border-radius: 16px;
    transition: all 0.3s linear;
}

@media (max-width: 960px) {
    .jobs .job-box {
        padding: 20px 15px;
    }
}

.jobs .job-box .flex-contain {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .jobs .job-box .flex-contain {
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
    }
}

@media (min-width: 992px) {
    .jobs .job-box .flex-contain .data {
        width: calc(100% - 200px);
    }
}

.jobs .job-box .flex-contain .data .tags {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 12px;
}

.jobs .job-box .flex-contain .data .tags li {
    width: -moz-fit-content;
    width: fit-content;
    padding: 4px 16px;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary-color);
    background-color: #F3F5F6;
}

.jobs .job-box .flex-contain .data .tags li:last-child {
    color: #EAA05F;
    background-color: rgba(234, 160, 95, 0.15);
}

.jobs .job-box .flex-contain .data h1 {
    font-size: 24px;
    font-weight: 900;
    color: var(--primary-color);
    margin: 20px 0px;
}

.jobs .job-box .flex-contain .data .loactions {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.jobs .job-box .flex-contain .data .loactions li {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.jobs .job-box .flex-contain .data .loactions li img {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
}

.jobs .job-box .flex-contain .data .loactions li span {
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
}

.jobs .job-box .flex-contain .custom-btn {
    width: 180px;
}

.jobs .job-box p {
    color: var(--dark-color);
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
}

@media (min-width: 992px) {
    .jobs .job-box p {
        width: 50%;
    }
}

.jobs .job-box:hover {
    transform: translateY(-10px);
}

.jobs .job-box:hover h1 {
    color: var(--secondary-color) !important;
}

.jobs .pagination {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.jobs .pagination li a, .jobs .pagination li span {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #EDF0F2;
    color: var(--gray-color);
    text-align: center;
}

.jobs .pagination li a.active, .jobs .pagination li a:hover, .jobs .pagination li span.active, .jobs .pagination li span:hover {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.job-details {
    padding-top: 0px;
    margin-top: -150px;
}

@media (max-width: 992px) {
    .job-details {
        margin-top: -50px;
    }
}

.job-details .job-data {
    width: 100%;
    padding: 40px;
    background-color: var(--light-color);
    border-radius: 16px;
    border: 1px solid #EDF0F2;
}

@media (max-width: 992px) {
    .job-details .job-data {
        padding: 30px 15px;
    }
}

.job-details .job-data .tags {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 12px;
}

.job-details .job-data .tags li {
    width: -moz-fit-content;
    width: fit-content;
    padding: 4px 16px;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary-color);
    background-color: #F3F5F6;
}

.job-details .job-data .tags li:last-child {
    color: #EAA05F;
    background-color: rgba(234, 160, 95, 0.15);
}

.job-details .job-data h1 {
    font-size: 24px;
    font-weight: 900;
    color: var(--primary-color);
    margin: 20px 0px;
}

.job-details .job-data .loactions {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.job-details .job-data .loactions li {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.job-details .job-data .loactions li img {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
}

.job-details .job-data .loactions li span {
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
}

.job-details .job-data h2 {
    width: 100%;
    padding: 20px 0px 0px;
    border-top: 1px solid #EDF0F2;
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 900;
    color: var(--primary-color);
}

.job-details .job-data .desc-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.job-details .job-data .desc-list li {
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
    color: var(--gray-color);
    position: relative;
    z-index: 9;
    padding-inline-start: 16px;
}

.job-details .job-data .desc-list li::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: calc(50% - 5px);
    right: 0px;
    z-index: -1;
}

@media (max-width: 992px) {
    .job-details .job-data .desc-list li::after {
        top: 5px;
    }
}

html[dir=ltr] .job-details .job-data .desc-list li::after {
    left: 0px;
    right: unset;
}

.job-details .form-contain {
    width: 100%;
    position: relative;
    z-index: 9;
}

.job-details .form-contain .title {
    font-size: 32px;
    font-weight: 900;
    color: var(--primary-color);
    margin-bottom: 50px;
}

@media (max-width: 992px) {
    .job-details .form-contain .title {
        margin-bottom: 30px;
    }
}

.job-details .form-contain .sub-title {
    width: 100%;
    font-size: 24px;
    font-weight: 900;
    color: var(--primary-color);
    margin-bottom: 24px;
}

.job-details .form-contain .data-contain {
    width: 100%;
    padding: 40px 40px 25px;
    background-color: var(--light-color);
    border-radius: 16px;
    border: 1px solid #EDF0F2;
    margin-bottom: 24px;
}

@media (max-width: 992px) {
    .job-details .form-contain .data-contain {
        padding: 30px 15px 15px;
    }
}

.job-details .form-contain .data-contain label {
    font-size: 16px;
    font-weight: 700;
    color: var(--dark-color);
    display: block;
    margin-bottom: 10px;
}

.job-details .form-contain .data-contain .form-group.text-area .form-control {
    border-radius: 8px !important;
}

.job-details .form-contain .data-contain .form-control {
    background-color: #F3F5F6;
    border-radius: 8px;
    color: var(--dark-color);
}

.job-details .form-contain .data-contain .form-control::-moz-placeholder {
    color: var(--gray-color) !important;
}

.job-details .form-contain .data-contain .form-control::placeholder {
    color: var(--gray-color) !important;
}

.job-details .form-contain .data-contain .form-control:hover {
    border-color: var(--primary-color);
}

input[type=file] {
    display: none;
}

.form-label-shape {
    width: 100%;
    height: 50px;
    border: 1px dashed #D0D7DD;
    padding: 0px 12px;
    position: relative;
    font-size: 14px !important;
    background-color: #EDF0F2;
    font-weight: 500 !important;
    color: var(--gray-color) !important;
    border-radius: 5px;
    display: flex;
    align-content: center;
    align-items: center;
    display: flex !important;
    gap: 10px;
    margin-bottom: 0px;
    cursor: pointer;
}

.form-label-shape img {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
}

.file__value {
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.file__value--text {
    font-size: 15px;
    font-weight: 500;
    color: var(--dark-color);
}

.file__value--remove {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.file__value--remove::after {
    content: "X";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--danger-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--light-color);
    font-size: 15px;
}

html[dir=ltr] .file__value--remove::after {
    left: unset;
    right: 0px;
}

@media (max-width: 999px) {
    .order-mobile-0 {
        order: 0;
    }

    .order-mobile-1 {
        order: 1;
    }
}

/*# sourceMappingURL=style.css.map */
